# BUSI 520 - Mert Akman - Assignment 3

1. How many stock-months (rows) are there in the crsp dataframe? How many stock-quarters (rows) are there in announcements.csv?

In [27]:
import pandas as pd 
import numpy as np

df_announcement=pd.read_csv('announcements_sample.csv')
df_crsp=pd.read_csv('crsp_sample.csv')
df_crsp.info()
print('There are 104664.0 rows in the crsp dataframe.')
df_announcement.info()
print('There are 9146.0 rows in the announcement dataframe.')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104664 entries, 0 to 104663
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  104664 non-null  int64
 1   permno      104664 non-null  int64
 2   date        104664 non-null  object
 3   ret         102617 non-null  float64
 4   shrcd       104664 non-null  int64
 5   price       104358 non-null  float64
 6   me          104664 non-null  float64
dtypes: float64(3), int64(3), object(1)
memory usage: 5.6+ MB
There are 104664.0 rows in the crsp dataframe.
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9146 entries, 0 to 9145
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     9146 non-null   int64
 1   date           9146 non-null   object
 2   fiscal_period  9146 non-null   object
 3   permno         9146 non-null   int64
 4   gics_6d        9146 non-null   int64
 5   ret_ex_3d      9115 non-null   float64
 6   date_diff      9146 non-null   int64
 7   doy_diff       9146 non-null   int64
dtypes: float64(1), int64(5), object(2)
memory usage: 571.8+ KB
There are 9146.0 rows in the announcement dataframe.

2. How many unique permnos are there in the announcements dataframe? Hint: there is a “unique” method. Use “len” also.

In [28]:
import pandas as pd 
import numpy as np

df_announcement=pd.read_csv('announcements_sample.csv')
a=df_announcement.permno.value_counts()
Unique_Val=len(a)
print(f'The are {Unique_Val} unique permnos in the dataframe.')

The are 2509 unique permnos in the dataframe.

3. Create a “quarter” column in the announcements dataframe based on the fiscal_period column.

In [29]:
import pandas as pd 
import numpy as np

df_announcement=pd.read_csv('announcements_sample.csv')
df_announcement.head()
df_announcement['fiscal_period'] = pd.to_datetime(df_announcement['fiscal_period'])
df_announcement['month'] = df_announcement['fiscal_period'].dt.month

df_announcement['quarter'] = np.where(
    df_announcement['month'].between(1, 3), 'Q1',
    np.where(
        df_announcement['month'].between(4, 6), 'Q2',
        np.where(
            df_announcement['month'].between(7, 9), 'Q3', 'Q4'
        )
    )
)

df_announcement[['fiscal_period', 'month', 'quarter']].head(10)

  fiscal_period  month quarter
0    2020-12-31     12      Q4
1    2021-03-31      3      Q1
2    2021-06-30      6      Q2
3    2021-09-30      9      Q3
4    2020-12-31     12      Q4
5    2021-03-31      3      Q1
6    2021-06-30      6      Q2
7    2021-09-30      9      Q3
8    2020-12-31     12      Q4
9    2021-03-31      3      Q1

4. Create a “quarter” column in the crsp dataframe based on the date column.

In [30]:
import pandas as pd 
import numpy as np

df_crsp=pd.read_csv('crsp_sample.csv')
df_crsp['date'] = pd.to_datetime(df_announcement['date'])
df_crsp['month'] = df_crsp['date'].dt.month

df_crsp['quarter'] = np.where(
    df_crsp['month'].between(1, 3), 'Q1',
    np.where(
        df_crsp['month'].between(4, 6), 'Q2',
        np.where(
            df_crsp['month'].between(7, 9), 'Q3', 'Q4'
        )
    )
)

df_crsp.head(5)

,Unnamed: 0,permno,date,ret,shrcd,price,me,month,quarter
0,0,10026,2021-01-25,-0.017442,11,152.660004,2.897487e+06,1.0,Q1
1,1,10026,2021-04-26,0.039958,11,158.759995,3.013265e+06,4.0,Q2
2,2,10026,2021-07-26,-0.007275,11,157.029999,2.988909e+06,7.0,Q3
3,3,10026,2021-11-15,0.048271,11,164.610001,3.133516e+06,11.0,Q4
4,4,10026,2021-01-20,0.066642,11,175.580002,3.342341e+06,1.0,Q1

5. Extract the last day of each quarter for each permno in the crsp dataframe. Hint: use groupby and .last().

In [31]:
import pandas as pd 
import numpy as np

df_crsp=pd.read_csv('crsp_sample.csv')
df_crsp.describe()
df_crsp['date'] = pd.to_datetime(df_crsp['date'])
df_crsp['month'] = df_crsp['date'].dt.month
df_crsp['day'] = df_crsp['date'].dt.day

df_crsp['quarter'] = np.where(
    df_crsp['month'].between(1, 3), 'Q1',
    np.where(
        df_crsp['month'].between(4, 6), 'Q2',
        np.where(
            df_crsp['month'].between(7, 9), 'Q3', 'Q4'
        )
    )
)

df_crsp.head(12)
last_dayOfQuarter=df_crsp.groupby(['permno','quarter']).last().reset_index()
last_dayOfQuarter.head(10)
last_dayOfQuarter.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35597 entries, 0 to 35596
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   permno      35597 non-null  int64
 1   quarter     35597 non-null  object
 2   Unnamed: 0  35597 non-null  int64
 3   date        35597 non-null  datetime64[ns]
 4   ret         34855 non-null  float64
 5   shrcd       35597 non-null  int64
 6   price       35507 non-null  float64
 7   me          35597 non-null  float64
 8   month       35597 non-null  int32
 9   day         35597 non-null  int32
dtypes: datetime64[ns](1), float64(3), int32(2), int64(3), object(1)
memory usage: 2.4+ MB

6. Change the name of the ‘date’ column in the announcements dataframe to ‘ea_date’. This is the date of the firm’s quarterly earnings announcement. 
Hint: pass a dictionary as columns = {‘old name’: ‘new name’} to the rename method.

In [32]:
import pandas as pd 
import numpy as np

df_announcement=pd.read_csv('announcements_sample.csv')
df_announcement.rename(columns = {'date':'ea_date'}, inplace = True)
df_announcement

,Unnamed: 0,ea_date,fiscal_period,permno,gics_6d,ret_ex_3d,date_diff,doy_diff
0,64,2021-01-25,2020-12-31,10026,302020,0.085726,0,-2
1,65,2021-04-26,2021-03-31,10026,302020,-0.040383,0,-2
2,66,2021-07-26,2021-06-30,10026,302020,0.005235,0,-2
3,67,2021-11-15,2021-09-30,10026,302020,-0.015813,7,9
4,123,2021-01-20,2020-12-31,10032,452030,-0.072586,0,-2
...,...,...,...,...,...,...,...,...
9141,155248,2021-11-01,2021-09-30,93427,452030,0.127770,0,-2
9142,155355,2021-01-27,2020-12-31,93436,251020,-0.012770,0,-2
9143,155356,2021-04-26,2021-03-31,93436,251020,-0.051397,-2,-4
9144,155357,2021-07-26,2021-06-30,93436,251020,0.005204,5,3
9145,155358,2021-10-20,2021-09-30,93436,251020,0.011470,0,-2

7. Merge the reduced crsp dataframe with the announcement dataframe, matching on [‘permno’, ‘quarter’]. Hint: permno and quarter will form the index of the reduced crsp dataframe after grouping. You will need to reset the index or use left_on=… and right_index=True, or right_on=… and left_index=True in the merge.

In [33]:
import pandas as pd 
import numpy as np

df_announcement=pd.read_csv('announcements_sample.csv')
df_announcement.head()
df_announcement['fiscal_period'] = pd.to_datetime(df_announcement['fiscal_period'])
df_announcement['month'] = df_announcement['fiscal_period'].dt.month

df_announcement['quarter'] = np.where(
    df_announcement['month'].between(1, 3), 'Q1',
    np.where(
        df_announcement['month'].between(4, 6), 'Q2',
        np.where(
            df_announcement['month'].between(7, 9), 'Q3', 'Q4'
        )
    )
)

df_announcement.rename(columns = {'date':'ea_date'}, inplace = True)

df_crsp=pd.read_csv('crsp_sample.csv')
df_crsp.describe()
df_crsp['date'] = pd.to_datetime(df_crsp['date'])
df_crsp['month'] = df_crsp['date'].dt.month
df_crsp['day'] = df_crsp['date'].dt.day

df_crsp['quarter'] = np.where(
    df_crsp['month'].between(1, 3), 'Q1',
    np.where(
        df_crsp['month'].between(4, 6), 'Q2',
        np.where(
            df_crsp['month'].between(7, 9), 'Q3', 'Q4'
        )
    )
)

reducedCRSP=df_crsp.groupby(['permno','quarter']).last().reset_index()
df_merged=df_announcement.merge(reducedCRSP,how='left',on=['permno','quarter'])
df_merged.sample(5)
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9146 entries, 0 to 9145
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0_x   9146 non-null   int64
 1   ea_date        9146 non-null   object
 2   fiscal_period  9146 non-null   datetime64[ns]
 3   permno         9146 non-null   int64
 4   gics_6d        9146 non-null   int64
 5   ret_ex_3d      9115 non-null   float64
 6   date_diff      9146 non-null   int64
 7   doy_diff       9146 non-null   int64
 8   month_x        9146 non-null   int32
 9   quarter        9146 non-null   object
 10  Unnamed: 0_y   9077 non-null   float64
 11  date           9077 non-null   datetime64[ns]
 12  ret            9076 non-null   float64
 13  shrcd          9077 non-null   float64
 14  price          9076 non-null   float64
 15  me             9077 non-null   float64
 16  month_y        9077 non-null   float64
 17  day            9077 non-null   float64
dtypes: datetime64[ns](2), float64(8), int32(1), int64(5), object(2)
memory usage: 1.2+ MB

8. Filter the merged dataframe to keep only rows satisfying price>=5, me>=50000, and shrcd in [10, 11]. Save this as a csv file with the name merged.csv and submit on Canvas. Use the filtered dataframe to answer all remaining questions.

In [34]:
import pandas as pd 
import numpy as np

df_announcement=pd.read_csv('announcements_sample.csv')
df_announcement.head()
df_announcement['fiscal_period'] = pd.to_datetime(df_announcement['fiscal_period'])
df_announcement['month'] = df_announcement['fiscal_period'].dt.month

df_announcement['quarter'] = np.where(
    df_announcement['month'].between(1, 3), 'Q1',
    np.where(
        df_announcement['month'].between(4, 6), 'Q2',
        np.where(
            df_announcement['month'].between(7, 9), 'Q3', 'Q4'
        )
    )
)

df_announcement.rename(columns = {'date':'ea_date'}, inplace = True)

df_crsp=pd.read_csv('crsp_sample.csv')
df_crsp.describe()
df_crsp['date'] = pd.to_datetime(df_crsp['date'])
df_crsp['month'] = df_crsp['date'].dt.month
df_crsp['day'] = df_crsp['date'].dt.day

df_crsp['quarter'] = np.where(
    df_crsp['month'].between(1, 3), 'Q1',
    np.where(
        df_crsp['month'].between(4, 6), 'Q2',
        np.where(
            df_crsp['month'].between(7, 9), 'Q3', 'Q4'
        )
    )
)

reducedCRSP=df_crsp.groupby(['permno','quarter']).last().reset_index()
df_merged=df_announcement.merge(reducedCRSP,how='left',on=['permno','quarter'])

condition = (df_merged['price']>=5) & (df_merged['me']>=50000) & ((df_merged['shrcd'].isin([10, 11])))
filteredmerged_df=df_merged[condition]
filteredmerged_df.sample(10)

filteredmerged_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6827 entries, 0 to 9145
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0_x   6827 non-null   int64
 1   ea_date        6827 non-null   object
 2   fiscal_period  6827 non-null   datetime64[ns]
 3   permno         6827 non-null   int64
 4   gics_6d        6827 non-null   int64
 5   ret_ex_3d      6820 non-null   float64
 6   date_diff      6827 non-null   int64
 7   doy_diff       6827 non-null   int64
 8   month_x        6827 non-null   int32
 9   quarter        6827 non-null   object
 10  Unnamed: 0_y   6827 non-null   float64
 11  date           6827 non-null   datetime64[ns]
 12  ret            6827 non-null   float64
 13  shrcd          6827 non-null   float64
 14  price          6827 non-null   float64
 15  me             6827 non-null   float64
 16  month_y        6827 non-null   float64
 17  day            6827 non-null   float64
dtypes: datetime64[ns](2), float64(8), int32(1), int64(5), object(2)
memory usage: 986.7+ KB

9. How many stock-quarters are there in the filtered dataframe and how many unique permnos?

In [35]:

num_stock_quarters_filtered = len(filteredmerged_df)
num_uniqpermnos_filtered = len(filteredmerged_df['permno'].unique())

print(f'There are {num_stock_quarters_filtered} in the data.')
print(f'There are {num_uniqpermnos_filtered} unique in the data.')

There are 6827 in the data.
There are 1861 unique in the data.

10. Which day of the week is the most popular day for earnings announcements? What fraction of earnings announcements occur on this day? 
Hint: the weekday method of a datetime object returns 0 for Monday, 1 for Tuesday, etc.

In [36]:
from datetime import datetime
filteredmerged_df.sample(10)
filteredmerged_df['ea_date'] = pd.to_datetime(filteredmerged_df['ea_date'])
filteredmerged_df['weekday']=filteredmerged_df['ea_date'].dt.day_name()
counters = filteredmerged_df['weekday'].value_counts()
print('Earnings Announcement Frequency:')
print(counters)
print('----')
print('Thursday seems to be the most popular day.')
Ratio=counters[0]/sum(counters)
print('----')
print(f'Based on this dataset, {Ratio} of all earnings occur in this day.')

Earnings Announcement Frequency:
weekday
Thursday     2350
Wednesday    1792
Tuesday      1419
Monday        842
Friday        424
Name: count, dtype: int64
----
Thursday seems to be the most popular day.
----
Based on this dataset, 0.3442214735608613 of all earnings occur in this day.

C:\Users\rra3\AppData\Local\Temp\ipykernel_12900\3165495186.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filteredmerged_df['ea_date'] = pd.to_datetime(filteredmerged_df['ea_date'])
C:\Users\rra3\AppData\Local\Temp\ipykernel_12900\3165495186.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filteredmerged_df['weekday']=filteredmerged_df['ea_date'].dt.day_name()
C:\Users\rra3\AppData\Local\Temp\ipykernel_12900\3165495186.py:10: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  Ratio=counters[0]/sum(counters)

11. For each permno, find the most popular day of the week for earnings announcements. For each permno, calculate the fraction of the announcements that are made on that day. Save this as a csv file with the name days.csv and submit on Canvas. What is the mean of this fraction across permnos?

In [37]:
counters2 = filteredmerged_df.groupby(['permno', 'weekday']).size().reset_index(name='count')
most_popular_weekday_df = counters2.loc[counters2.groupby('permno')['count'].idxmax()].reset_index(drop=True)
total_announcements_per_permno = filteredmerged_df.groupby('permno').size().reset_index(name='total_count')
most_popular_weekday_df = pd.merge(most_popular_weekday_df, total_announcements_per_permno, on='permno')
most_popular_weekday_df['fraction'] = most_popular_weekday_df['count'] / most_popular_weekday_df['total_count']
final_dataset = pd.merge(filteredmerged_df, most_popular_weekday_df[['permno', 'weekday', 'fraction']], on='permno', how='left')
final_dataset = final_dataset.rename(columns={"weekday_x": "weekday", "weekday_y": "most_popular_weekday", "fraction": "fraction_on_most_popular_weekday"})
#final_dataset.to_csv(r'C:\Users\ma151\Desktop\Fall 2023\Busi 520 - Python\BUSI 520 Assignment 3 Submission\days.csv', index=False, header=True)

# The mean of this fraction across 'permno': 

#mean_fraction_per_permno = final_dataset.groupby('fraction_on_most_popular_weekday').mean()
mean_fraction_per_permno = final_dataset.groupby('permno')['fraction_on_most_popular_weekday'].mean()
mean_of_means = mean_fraction_per_permno.mean()
print(f'The mean of this fraction across permnos is {np.mean(mean_of_means)}.')

The mean of this fraction across permnos is 0.781524270105678.

12. Cut the dataframe into ‘above median’ and ‘below median’ based on the absolute value of date_diff. What is the mean of the fraction in the previous queston across permnos within each of the two groups?

In [38]:
days_df=final_dataset

days_df['quantile_group'] = pd.qcut(days_df['date_diff'].abs(), 2, labels=['below_median', 'above_median'])
AboveBelow = days_df.groupby(['permno','quantile_group']).fraction_on_most_popular_weekday.mean().unstack('permno').T
below = AboveBelow['below_median'].mean()
above = AboveBelow['above_median'].mean()
print(f'For the below median group, the mean fraction is approximately {below}.')
print(f'For the below median group, the mean fraction is approximately {above}.')

For the below median group, the mean fraction is approximately 0.7772347790673998.
For the below median group, the mean fraction is approximately 0.7504292371842041.

C:\Users\rra3\AppData\Local\Temp\ipykernel_12900\1060369476.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  AboveBelow = days_df.groupby(['permno','quantile_group']).fraction_on_most_popular_weekday.mean().unstack('permno').T

13. For each permno, calculate the fraction of zeros for date_diff.

In [39]:
# Group the data by 'permno' and calculate the fraction of zeros for 'date_diff'
grouped_df = days_df.groupby('permno').date_diff.apply(lambda x: (x == 0).sum() / len(x)).reset_index()
grouped_df.columns = ['permno', 'fraction_of_zeros']
merged_df = pd.merge(days_df, grouped_df, on='permno', how='left')
# Show the first few rows of the resulting DataFrame
merged_df.sample(5)

,Unnamed: 0_x,ea_date,fiscal_period,permno,gics_6d,ret_ex_3d,date_diff,doy_diff,month_x,quarter,...,shrcd,price,me,month_y,day,weekday,most_popular_weekday,fraction_on_most_popular_weekday,quantile_group,fraction_of_zeros
6233,139821,2021-04-29,2021-03-31,91233,451020,-0.018436,0,-1,3,Q1,...,11.0,356.049988,3.507616e+08,3.0,31.0,Thursday,Thursday,1.00,below_median,1.00
1598,25918,2021-05-04,2021-03-31,15431,352010,0.068569,-2,-4,3,Q1,...,11.0,20.590000,1.885797e+06,3.0,31.0,Tuesday,Tuesday,0.75,above_median,0.25
5868,127692,2021-05-05,2021-03-31,90188,351010,-0.044483,0,-2,3,Q1,...,11.0,65.559998,3.368407e+06,3.0,31.0,Wednesday,Wednesday,0.50,below_median,0.25
2661,45147,2021-11-09,2021-09-30,50606,101010,-0.031766,5,3,9,Q3,...,11.0,12.060000,4.961484e+05,9.0,30.0,Tuesday,Thursday,0.50,above_median,0.00
5961,131182,2021-07-27,2021-06-30,90458,551030,0.003540,0,-2,6,Q2,...,11.0,60.220001,3.104943e+06,6.0,30.0,Tuesday,Monday,0.25,below_median,0.50

14. Filter the dataframe further to include only stock-quarters for which

a. the fraction of zeros for date_diff is less than 0.5

b. the fraction of announcements on the permno’s most popular day of the week is less than 0.9.

In [41]:
condition14=(merged_df['fraction_of_zeros']<0.5)&(merged_df['fraction_on_most_popular_weekday']<0.9)
df_filteredmerged14=merged_df[condition14]
df_filteredmerged14['fraction_of_zeros'].describe()
df_filteredmerged14['fraction_on_most_popular_weekday'].describe()
#df_filteredmerged14.to_csv(r'C:\Users\ma151\Desktop\Fall 2023\Busi 520 - Python\BUSI 520 Assignment 3 Submission\filtered.csv ', index=False, header=True)

count    2211.000000
mean        0.585708
std         0.143236
min         0.250000
25%         0.500000
50%         0.500000
75%         0.750000
max         0.750000
Name: fraction_on_most_popular_weekday, dtype: float64

15. How many stock-quarters are in the newly filtered dataframe? How many unique permnos?

In [ ]:
df=df_filteredmerged14
num_unique_permnos = df['permno'].nunique()
num_unique_stockquarters = len(df)

print(f'Number of Stock-Quarters: ',num_unique_stockquarters)
print(f'Number of unique Permnos: ',num_unique_permnos)

Number of Stock-Quarters:  2211
Number of unique Permnos:  585