In [24]:
import pandas as pd

Create a function that takes a 2x2 game as an input and returns a list of the pure strategy Nash equilibria. If there are no pure strategy equilibria, then it should return an empty list. It should accept a game input as a 2x2 array of tuples, the first element of the tuple being the utility of the row player and the second element being the utility of the column player. Here is an example of a game that it should accept as its input:

game = [
    [(5, 0), (5, 5)],
    [(5, 2), (0, 0)]
]

In [7]:
import numpy as np



def checker(a1,a2,carr):
    utils1 = carr[a1][a2][0]
    utils2 = carr[a1][a2][1]
    for elem in carr[a1]:
        if utils2 < elem[1]:
            
            return()
    for elem in carr:
        if utils1 < elem[a2][0]:
            return()
            

    print("player one can take action "+a1.__str__()+" and player 2 can take action "+a2.__str__()+" and this is a pure strategy equilibrium")


    






game = [
    [(5, 0), (5, 5)],
    [(5, 2), (0, 0)]
]

payoffs = np.array(game)

index = [0,1]

for p1 in index:
    for p2 in index:
        checker(p1,p2,payoffs)

player one can take action 0 and player 2 can take action 1 and this is a pure strategy equilibrium
player one can take action 1 and player 2 can take action 0 and this is a pure strategy equilibrium

The following function accepts as its input a 2x2 array of tuples and returns a list. Move the code outside the function, create an example 2x2 array and execute the code line by line. Display in your notebook the object created by each line and explain what it is and what operation was performed to create it.

In [40]:
g = pd.DataFrame(
        game, 
        index = ["T", "B"],
        columns = ["L", "R"]
    )
g

        L       R
T  (5, 0)  (5, 5)
B  (5, 2)  (0, 0)

this creates a dataframe that contains the tuples of utilities by action chosen.

In [27]:
g = g.unstack()
g

L  T    (5, 0)
   B    (5, 2)
R  T    (5, 5)
   B    (0, 0)
dtype: object

this separates the columns into groups of data

In [28]:
g.index.names = ["col", "row"]
g

col  row
L    T      (5, 0)
     B      (5, 2)
R    T      (5, 5)
     B      (0, 0)
dtype: object

renames the index names as col and row which are to indicate the player who's playing those actions

In [29]:
g = pd.concat(
    (
            g.map(lambda x: x[0]), 
            g.map(lambda x: x[1])
        ), 
        axis=1
    )
g

         0  1
col row
L   T    5  0
    B    5  2
R   T    5  5
    B    0  0

this applys a mapping to split the tuples of utility into two separate columns

In [30]:
g.columns = ["u1", "u2"]
g

         u1  u2
col row
L   T     5   0
    B     5   2
R   T     5   5
    B     0   0

this relabels the new columns into utilities of 1 and 2

In [31]:
g.index = g.index.swaplevel()
g

         u1  u2
row col
T   L     5   0
B   L     5   2
T   R     5   5
B   R     0   0

this swaps row and column in the index groups.

In [32]:

row_max = g.groupby("col").apply(
        lambda x: x[x.u1 == x.u1.max()].index.values
    )
row_max

col
L    [(T, L), (B, L)]
R            [(T, R)]
dtype: object

this creates a dataframe (I think?)  that contains list objects of the strategies that provide the highest utility in response to the strategies of the column player

In [33]:
row_max = [x for arr in row_max for x in arr]
row_max

[('T', 'L'), ('B', 'L'), ('T', 'R')]

this converts the arrays in each row of the above dataframe into a single list of the pairs.

In [34]:
col_max = g.groupby("row").apply(
        lambda x: x[x.u2 == x.u2.max()].index.values
    )
col_max

row
B    [(B, L)]
T    [(T, R)]
dtype: object

this creates a dataframe (I think?)  that contains list objects of the strategies that provide the highest utility in response to the strategies of the row player.

In [35]:
col_max = [x for arr in col_max for x in arr]
col_max

[('B', 'L'), ('T', 'R')]

this converts the arrays in each row of the above dataframe into a single list of the pairs.

In [36]:
list(set(col_max) & set(row_max))

[('B', 'L'), ('T', 'R')]

this lists the overlap of the two sets of optimal strategies for each player, thus the optimal pure strategies

The knapsack problem is as follows. There are objects that you might put in your knapsack (backpack). Each has a weight Wi and a value Ui. Your knapsack can only hold a total weight of W. Among the combinations of objects that have a combined weight no more than W, you want to choose the combination that has the maximum total value. Denote your decision about whether to include the i-th object as ai in {0,1}, with meaning put it in the knapsack. So, the problem is to choose the to maximize ai subject to \sigma i  to n ai*Ui subject to the sum ai\*Ui<=W . We can write this as a nonstationary finite dynamic programming problem by supposing that we first consider object 1 (at “time 1”) then move on to consider object 2 (at “time 2”), etc. Denote the weight in the knapsack prior to making the i-th decision by xi. Denote the total value of the objects in the knapsack prior to making the i-th decison by yi. The pair (xi,yi) serves as the state vector for the problem. Write code to (1) calculate the value function Vn(x,y) before making the N-th decison by maximizing the ending value y +aun subject to the constraints imposed by x, and (2) use the recursion vi(x,y)=mx a in {0,1} vi+1(x+awi, y+aui) subject to x +awi<=W
to compute V1(0,0), which is the maximum total value the knapsack can hold.

In [37]:
def itemsort(Wi):
    return(Wi[1]/Wi[0])
    


def knapsacksolve(capacity,items):
    #I originally planned to solve this analytically by sorting the items on value per weight unit
    #items.sort(reverse=True,key=itemsort)

    def this_is_self_referencing(index, capac):
        
        if index<0 or capac <=0:
            return 0
        
        if items[index][0] > capac:
            return this_is_self_referencing(index-1,capac)
        
        include_this_crap = items[index][1] + this_is_self_referencing(index-1,capac-items[index][0])
        dont_bring_this_crap = this_is_self_referencing(index-1,capac)

        return(max(include_this_crap,dont_bring_this_crap))
        

    n = len(items)
    maxval = this_is_self_referencing(n-1,capacity)
    return(maxval)


#format of tuples is weight, then utils

allmycrapforclass = [(2,3),(3,4),(4,5),(5,6)]
Weight = 5
print('my code says do I can carry '+knapsacksolve(Weight,allmycrapforclass).__str__()+" value units of crap")





#GPT did it better
def knapsack_recursive(weights, values, capacity):
    def recursive_helper(i, current_capacity):
        if i < 0 or current_capacity <= 0:
            return 0
        
        # If the current item's weight is greater than the current capacity, skip it
        if weights[i] > current_capacity:
            return recursive_helper(i - 1, current_capacity)
        
        # Include the current item or exclude it, and choose the maximum value
        include_current = values[i] + recursive_helper(i - 1, current_capacity - weights[i])
        exclude_current = recursive_helper(i - 1, current_capacity)
        
        return max(include_current, exclude_current)
    
    n = len(weights)
    max_value = recursive_helper(n - 1, capacity)
    return max_value

# Example usage:
weights = [2, 3, 4, 5]
values = [3, 4, 5, 6]
capacity = 5
max_value = knapsack_recursive(weights, values, capacity)
print("Maximum Value:", max_value)

my code says do I can carry 7 value units of crap
Maximum Value: 7